.stix-viewer-block {
    display: block;
    position: relative;
    font-size: 0.8em;
    margin: 10px 0px;
}

.stix-viewer-block .stix-viewer {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.stix-viewer-block .viewer-footer {
    padding: 8px;

    border-radius: 0 0 2px 2px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;

    background-color: #f7f7f7; 
}

.stix-viewer-block .stix-viewer .stix-graph {
    width: 100%;
    height: 100%;
    position: relative;
}


.stix-viewer-block .viewer-header {
    padding: 8px;
    font-weight: bold;
    border-radius: 2px 2px 0 0;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #f7f7f7; 
    color: #586069;
}

.stix-viewer-block .viewer-header a {
    color: #586069;
}

.viewer-placeholder {
    font-family: sans-serif;
    padding-top: 20%;
    padding-left: 30%;
    font-size: 2em;
    color: #afafaf;
}

.dragover-active {
    background-color: #eee;
}

.loading {
    background-color: #f7f7f7; 
}

.sidebar {
    top: 0px;
    bottom: 0;
    right: 0;
    width: 40%;
    max-width: 600px;
    position: absolute;
    padding: 10px;
    display: none;
    overflow: scroll;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    /*
    border-color: #aaa;
    background-color: #eee;
     */
    border-color: #ddd;
    background-color: #f7f7f7;
}

.sidebar-close-icon {
    float: right;
    font-size: 20pt;
    padding: 0px 10px;
    cursor: pointer;
}

.sidebar-type-icon {
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-textarea {
    height: 400px;
    max-height: 300px;  
    width: 100%;
}

.viewer-footer {
    color: #586069;
    background-color: #f7f7f7;
}

.stix-viewer-block .viewer-footer a {
    color: #586069;
}
